#chatting_screen {
  z-index: 4;
  background-color: #abc1d1;
  height: 1000vh;
}

#chatting_screen .status-bar,
#chatting_screen .alt_header {
  top: 0;
  padding-top: 0px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chatting_screen .alt_header {
  z-index: 1;
}

#chatting_screen .status-bar {
  z-index: 2;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main_chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s linear;
}

.chat_timestamp {
  font-size: 14px;
  display: flex;
  z-index: 3;
  margin-top: 150px;
  margin-bottom: 30px;
  background-color: grey;
  color: white;
  opacity: 0.5;
  padding: 10px;
  border-radius: 25px;
}

.message_row {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

.message_row img {
  width: 50px;
  height: 50px;
  border-radius: 35%;
  margin-right: 15px;
}

.message_author {
  opacity: 0.8;
  font-size: 15px;
  display: block;
  margin-bottom: 7px;
}

.message_bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}

.message_time {
  opacity: 0.8;
  font-size: 13px;
}

.message_text {
  display: flex;
  align-items: end;
}

.message_row_own {
  justify-content: end;
}

.message_row_own .message_bubble {
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  background-color: var(--yellow);
  margin-right: 0px;
  margin-left: 5px;
}

.message_row_own .message_text {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}

.reply .reply_column:first-child {
  width: 10%;
}

.reply .reply_column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.reply_column:last-child > i,
.reply_column:last-child button {
  position: absolute;
  right: -3px;
}

.reply_column:last-child > i {
  right: 40px;
  top: 9px;
}

.reply_column button {
  background-color: var(--yellow);
  border: none;
  top: 1px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.reply_column button:focus,
.reply_column button:active {
  outline: none;
}

.reply i {
  opacity: 0.5;
}

.reply button i {
  opacity: 1;
}

.reply_column:last-child input::placeholder {
  padding-left: 10px;
}
