#friends-name-display-link {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fafafa;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  margin-bottom: 10px;
}

#friends-name-display-link i {
  color: rgba(0, 0, 0, 0.3);
  padding: 0px 5px;
}

#friends-name-display-link i:last-child {
  color: rgba(0, 0, 0, 0.3);
  padding: 0px 15px;
}
